<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="/js/axios.js"></script>
	<script src="/js/vue.js"></script>
	<script src="/js/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
	<script src="/js/template-web.js"></script>
	<script src="/js/bootstrap-mypaginator.js"></script>
	<script src="/js/bootstrap.js" ></script>
    <script src="/js/bootstrap-paginator.js"></script>

	


	</head>
	<body>
		<div style="position: relative;left: 40%;" id="d">
			<h1>商品列表</h1>
			<!-- 当用户没有登录时，访问该页面，只显示登录/注册链接 ,
			下面语法是if else-->
			<div v-if="isLogin">
				<h1>欢迎您：{{username}}<a href="" @click.prevent="logout">注销</a></h1>
			</div>
			<div v-else>
				<a href="/html/login.html">登录</a>
				<a href="/html/regist.html">注册</a>
			</div>

			<hr>

			<table border="1" >
				<thead>
					<tr>
					  <!-- 序号不是商品id,是由1开始，自增长的一组数字 -->
					  <th>序号</th>
					  <th>商品名称</th>
					  <th>商品单价</th>
					  <th>操作</th>
					</tr>
				</thead>
				<tbody id="tb">
				<!-- 此处为商品展示区域 -->
					<tr v-for='p in pageInfo.list'>
						<td>{{p.id}}</td>
						<td>{{p.name}}</td>
						<td>{{p.price}}</td>
						<td><a href="javaScript:;" @click="addCart(p);">添加购物车</a></td>
					</tr>
				</tbody>

			</table>
			<a href="/html/cart.html">查看购物车</a><br>
			<ul id="myPages" ></ul>
		</div>
		<script>
            var v = new Vue({
                el:'#d',
                data:{
					isLogin:false,
					pageInfo:'',
					username:''
                },
                methods:{
                    ifLogin(){
                        axios.get('/user/isLogin').then(rs=>{
                            if(rs.data.success){
                                this.username = rs.data.obj.username;
                                this.isLogin = true;
							}
						})
					},
					logout(){
                        axios.get('/user/logout').then(rs=>{
                            if(rs.data.success){
                                this.username = '';
                                this.isLogin = false;
                                location='/html/login.html'
                            }
                        })
					},
                	addCart(product) {
					    console.log(product)
                        var p=new URLSearchParams();
                        p.append('id',product.id);
                        p.append('price',product.price);
                        axios.post(
                            '/product/addCart',
                            p).then(rs=>{
							console.log(rs.data)
                            alert(rs.data.msg)
                        })
                	},
					ajaxLoadData(pageNo){
                        var p=new URLSearchParams();
                        p.append('pageNo',pageNo);
                        axios.post(
                            '/product/findAllProduct',
							p).then(rs=>{
								this.pageInfo = rs.data.obj;
								if (pageNo == 1) {
									myoptions.onPageClicked = (event, originalEvent, type,page)=>{
										this.ajaxLoadData(page);
									};
									var totalPages = this.pageInfo.pages;
									console.log("总页数："+totalPages);
									/* 在ul标签中显示分页项 */
									myPaginatorFun("myPages", 1, totalPages);
								}
						})
            		}
                },
                mounted(){
                    this.ajaxLoadData(1);
                    this.ifLogin();
                }
            })
		</script>
	  </body>
	</html>		